body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    padding: 0px 10px 0px 20px;
}

h1 {
    font-size: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

.color-options {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.size-options {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

button {
    border: 1px solid lightblue;
    margin: 5px;
    border-radius: 100px;
    padding: 0px 20px;
    font-size: 15px;
    font-weight: bolder;
}

.btn-black {
    background-color: black;
}

.btn-yellow {
    background-color: yellow;
}

.btn-blue {
    background-color: blue;
}

.btn-orange {
    background-color: orange;
}

.btn-green {
    background-color: green;
}

.btn-red {
    background-color: red;
}

.btn-eraser {
    background-color: white;
}

.btn-random {
    background-image: linear-gradient(to right, pink, yellow);
}

.btn-size {
    padding: 0px 20px;
}

.container {
    display: flex;
    flex-flow: row wrap;
    width: 512px;
    height: 512px;
    border: 1px solid black;
    margin: 15px 0px;
}